* {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100;
	/* UI Properties */
	background: #fff;
	opacity: 1;
}

.container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 100%;
}

.item:first-child {
	margin-top: 200px;
}

.item {
	display: block;
	margin: auto;
	margin-top: 128px;
	max-width: 392px;
	max-height: 524px;
	width: 100%;
	height: 100%;
	padding: 15px;
	/* UI Properties */
	border-radius: 50px;
	opacity: 1;
}

.item * {
	cursor: pointer;
}



.item-image {
	/* max-width: 392px; */
	/* max-height: 392px; */
	width: 100%;
	height: 392px;
	/* UI Properties */
	box-shadow: 0px 15px 15px #00000029;
	border: 3px solid #27A7E7;
	border-radius: 50px;
	/* object-fit: cover; */
	background-repeat: no-repeat;
  	background-size: contain;
	/* background: transparent url('images/MarioNSMBUDeluxe.png') 50% 50% no-repeat padding-box; */
	opacity: 1;
}

.item-image.mario {
	background: transparent url('images/MarioNSMBUDeluxe.png') 0 0/100% 100% no-repeat padding-box;
}

.item-image.einshtein {
	background: transparent url('images/The-Unforgettable-Albert-Einstein.jpg') 0 0/100% 100% no-repeat padding-box;
}

.item-name {
	text-align: center;
	max-width: 100%;
	max-height: 48px;
	/* UI Properties */
	font: normal normal bold 40px/48px SF Pro;
	letter-spacing: 0px;
	color: #27A7E7;
	opacity: 1;
}

.item-type {
	text-align: center;
	width: 100%;
	height: 48px;
	/* UI Properties */
	font: normal normal 300 40px/48px SF Pro;
	letter-spacing: 0px;
	color: #27A7E7;
	opacity: 1;
}
/* 
@media (max-width: 500px) {
	.item-image {
		width: 300px;
		height: 340px;
	}
} */