body {
	top: 0px;
	left: 0px;
	width: 1080px;
	height: 1920px;
	/* UI Properties */
	background: #F5F5F5 0% 0% no-repeat padding-box;
	opacity: 1;
}

.container {
	max-width: 390px;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
}

.item {
	text-align: center;
	border: 10px black;
	border-radius: 1%;
	background-color: whitesmoke;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: wheat;
	text-transform: uppercase;
	font-weight: 700;
	transition: background .2s linear;
}

.btn:hover {
	background: whitesmoke;
}